/*Input fonts later*/

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', 'sans-serif';
}

.page-container {
    width: 900px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/*main sections background color*/

.section-one {
    background-color: #1f2937;
}

.section-two {
    background-color: white;
}

.section-three {
    background-color: #E5E7EB;
}

.section-four {
    background-color: white;
}

/*dark blue top section*/

.section-one {
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.second-bar {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* white second section*/

.section-two {
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-two h1 {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box-placeholder {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}

/* grey third section */

.section-three {
    padding: 100px 0;
}

.section-three h3,
.section-three p {
    padding-left: 60px;
    padding-right: 60px;
}

.section-three h3 {
    text-align: end;
}

/* white footer section*/

.blue-box {
    width: 900px;
    height: 125px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: blue;
}